@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Sixtyfour&display=swap');/*Protest Strike e Sixtyfour*/

*{
    text-align: center;
}

#titulo{
    font-family: 'Sixtyfour', sans-serif;
    color: rgb(0, 0, 0);
}

